// Contenido CSS y SASS del Header, con su responsive //

@use 'variables' as v;

header {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    background-color: #1a0028;
    color: #f5e1ff;
    z-index: 1000;

    .encabezado__contenido {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        min-height: 60px;
        align-items: center;

        .navegacion-principal {
            display: flex;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: rgb(209, 183, 204);
            font-style: italic;
            font-weight: bold;
            list-style: none;
            gap: 15px;
            justify-content: space-around !important;
            width: 100%;
            padding-top: 0;
            padding-bottom: 0;

            .encabezado__logo {
                height: 5rem;
                width: auto;
                transform: scale(1.8);
                transform-origin: left center;
            }

            .navbar-toggler {
                border-color: rgb(209, 183, 204);

                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28209, 183, 204, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
                }
            }

            .navbar-collapse {
                justify-content: center;

                .navbar-nav {
                    text-decoration: none;
                    color: rgb(219, 215, 154);
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    gap: 20px;
                    bottom: auto;

                    .nav-link {
                        text-decoration: none;
                        color: #b58bd2;
                        font-size: 16px;
                        font-weight: 500;
                    }

                    :hover {
                        color: #fff;
                    }

                    .active {
                        text-decoration: none;
                        color: rgb(219, 215, 154);
                    }

                }
            }
        }
    }
}