// Archivo Principal //
// sass --watch sass/style.scss estilos/estilos.css // 

@use "variables";
@use "header";
@use "footer";
@use "index";
@use "carrito";
@use "catalogo";
@use "contacto";
@use "informacion";
@use "recetas";
@use "general";
