* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: rgb(105, 69, 105);
    font-size: 25px;
}

h1 {
    color: rgb(69, 53, 114);
    font-size: 60px;
    text-align: center;
}

body {
    background-image: url(../assets/Imagen\ Fondo.png);
    background-color: rgb(192, 171, 192);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

h2 {
    color: rgb(69, 53, 114);
    font-size: 40px;
}

h3 {
    color: rgb(30, 6, 53);
    font-size: 25px;
}

h4 {
    color: rgb(69, 53, 114);
    font-size: 40px;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

header {
    display: flex;
    background-color: rgb(21, 2, 39);
    justify-content: space-around;
    height: 50px;
    position: sticky;
    top: 0px;
}

footer {
    background-image: url(../assets/Imagen\ Fondo\ 2.png);
    font-size: 40px;
    text-align: center;
}

.titulos {
    text-transform: uppercase;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(209, 183, 204);
}

#Descripción {
    color: rgb(105, 69, 105);
    font-size: 25px;
}

.redes {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(209, 183, 204);
    font-style: italic;
    font-weight: bold;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    line-height: 40px;
    background-color: rgb(46, 16, 73);
}

.caja {
    padding: 40px;
    margin: 40 px;
    height: 80vh;
    width: 30vw;
    border: 2px solid black;
    line-height: 40px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: solid;
    background-color: rgb(30, 5, 36);
    color: rgb(209, 183, 204);
}

.boton_compra {
    width: 100px;
    height: 40px;
    background-color: rgb(209, 183, 204);
    color: rgb(30, 5, 36);
}

.cantidad {
    width: 50px;
    height: 30px;
    background-color: rgb(209, 183, 204);
    color: rgb(30, 5, 36);
}

.contenedor {
    display: flex;
    overflow-x: auto;
    flex-flow: row wrap;
    margin: 15px;
    gap: 15px;
    justify-content: space-evenly;
}

.contenedor2 {
    display: flex;
    overflow-x: auto;
    flex-flow: row wrap;
    margin: 15px;
    gap: 15px;
    justify-content: space-evenly;
}

.contenedor3 {
    display: flex;
    overflow-x: auto;
    flex-flow: row wrap;
    margin: 15px;
    gap: 15px;
    justify-content: space-evenly;
}

.contenedor4 {
    display: flex;
    overflow-x: auto;
    flex-flow: row wrap;
    margin: 15px;
    gap: 15px;
    justify-content: space-evenly;
}

.Catalogo {
    text-transform: uppercase;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-decoration: solid;
    background-color: rgb(219, 215, 154);
    color: rgb(78, 28, 68);
}

.ventanas {
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(209, 183, 204);
    font-style: italic;
    font-weight: bold;
    list-style: none;
    gap: 15px;
}

/* Para configurar el header */

header {
    background-color: #1a0028;
    /* tu color oscuro */
    color: #f5e1ff;
    padding: 10px 0;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 🔹 separa logo a la izquierda y menú a la derecha */
    width: 90%;
    /* 🔹 ajusta ancho total */
    margin: 0 auto;
    /* 🔹 centra todo */
}

.logo {
    height: 100px;
    width: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #b58bd2;
    /* un violeta claro */
    font-size: 16px;
    font-weight: 500;
}

nav a:hover {
    color: #fff;
    /* cambia al pasar el mouse */
}

hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, #4B007D, #EBDCF6);
    margin: 20px 0;
}

.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    gap: 15px;
}

.imagenw {
    width: 60px; 
    height: auto;  
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.contacto {
    text-decoration: solid;
    background-color: rgb(219, 215, 154);
    color: rgb(78, 28, 68);
}

.imgredes {
    width: 40px; 
    height: auto;  
}

.label {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(209, 183, 204);
    font-style: italic;
    font-weight: bold;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    line-height: 40px;
    background-color: rgb(46, 16, 73);
}

.tabla {
    align-items: center;
    justify-content: space-between;
    display: flex;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(209, 183, 204);
    font-style: italic;
    font-weight: bold;
    border: 2px solid black;
    line-height: 40px;
    background-color: rgb(46, 16, 73);
}

.carritotabla {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.listarecetas {
    display: grid;
    grid-template-columns: 20pc 10pc
}